.NavBar {
  position: absolute;
  z-index: 9999;
  width: 100%;
}

.all-nav {
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  margin-right: 1rem;
  width: 100%;
  list-style: none;
  color: #004d4d;
  font-size: 1.2em;
  cursor: pointer;
}

a:link {
  text-decoration: none;
}
