.NavBar {
  position: absolute;
  z-index: 9999;
  width: 100%;
}

.all-nav {
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  margin-right: 1rem;
  width: 100%;
  list-style: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

#hidden {
  display: flex;
}

a:link {
  text-decoration: none;
}

.NavBar .menu-btn {
  display: none;
}

@media (max-width: 600px) {
  .NavBar .menu-btn {
    display: flex;
    position: absolute;
    z-index: 9999;
  }

  .all-nav {
    display: none;
  }

  #hidden {
    position: absolute;
    height: 15vh;
    width: auto;
    background-color: #004d4d;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 3%;
    margin-top: -1%;
  }

  #hidden-nav-item {
    font-size: 1.7em;
    width: 100vw;
    margin-left: -3%;
    margin-top: 20px;
    text-align: right;
  }
  .menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    /* border: 3px solid #fff; */
  }
  .menu-btn__burger {
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-16px);
  }
  .menu-btn__burger::after {
    transform: translateY(16px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
}
