.Planet {
  overflow-x: hidden;
  width: 100%;
  margin-bottom: 15%;
}

.arrows {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 95%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.neptune {
  width: 67%;
  padding: 0;
  margin-left: 33%;
}

.mercury {
  width: 67%;
  padding: 0;
  margin-right: 33%;
}

.img-planet {
  width: 80%;
}

.image-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-data {
  color: white;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.planet-main-headers {
  background-color: #008080;
  padding: 2%;
  box-shadow: 4px 5px 0px 0px #ffffff;
  font-family: "Overpass", sans-serif;
  text-transform: uppercase;
  font-size: 1.6em;
  width: 50%;
  align-self: flex-start;
}

.info-type {
  text-align: center;
  margin: 0 auto;
  width: 90%;
  padding: 2%;
  margin-top: 7%;
  background-color: #004d4d;
  border-radius: 8px;
  font-family: "Quicksand", sans-serif;
}

.info-type h3 {
  color: white;
  font-size: 1.6em;
}

.info-type hr {
  width: 60%;
  border: 2px solid #00cdcd;
  border-radius: 5px;
  margin-bottom: 3%;
}

.info-type p {
  color: lightgray;
}

.fast-facts {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #004d4d;
  text-align: center;
  border-radius: 8px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 7%;
}

.fast-facts h4 {
  color: white;
  width: 50%;
  font-family: "Quicksand", sans-serif;
  padding-bottom: 1%;
  border-bottom: 3px solid #00cdcd;
  font-size: 1.3em;
  margin: 4%;
}

.fast-facts p {
  color: lightgray;
  font-family: "Quicksand", sans-serif;
  font-size: 1.1em;
  margin: 0;
}

.fast-facts p:last-child {
  padding-bottom: 5%;
}

.ff-all {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-img {
  width: 300px;
}

/* MEDIA QUERIES */

@media (min-width: 475px) {
  .planet-main-headers {
    width: 40%;
  }
}

@media (min-width: 750px) {
  .image-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .img-planet {
    width: 50%;
  }

  .info-type {
    width: 80%;
  }

  .fast-facts {
    width: 60%;
  }
}

@media (min-width: 850px) {
  .all-data {
    flex-direction: row;
  }

  .img-planet {
    width: 40%;
  }

  .planet-paragraphs {
    width: 60%;
  }

  .info-type {
    width: 90%;
  }

  .ff-all {
    width: 50%;
  }

  .fast-facts {
    width: 70%;
  }
}

@media (min-width: 1200px) {
  .img-planet {
    width: 30%;
  }

  .all-data {
    width: 75%;
  }
}

@media (min-width: 1800px) {
  .all-data {
    width: 60%;
  }
}
