.ss-intro {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding-top: 1%;
  background-color: #e8e8e8;
  color: black;
  text-align: center;
}

.ss-intro h1 {
  padding: 3%;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 2.3em;
  font-weight: lighter;
}

.ss-intro h3 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 1.6em;
  font-weight: lighter;
}

.ss-intro p {
  font-family: "Cardo", serif;
  font-size: 1.1em;
  font-weight: lighter;
  color: black;
  width: 85%;
  margin: 0 auto;
}

.ss-intro h5 {
  font-family: "Oswald", sans-serif;
  padding: 1%;
  font-size: 1.2em;
  font-weight: lighter;
  color: black;
}

.scroll-button {
  padding: 2%;
}

@media (min-width: 800px) {
  .ss-intro h1 {
    font-size: 2.5em;
  }

  .ss-intro p {
    font-size: 1.2em;
  }

  .ss-intro h3 {
    font-size: 1.8em;
  }

  .ss-intro h5 {
    font-size: 1.4em;
  }
}
